html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

p.quote {
  font-size: 1.25rem;
  font-style: italic;
}

.login-button {
  height: 2.5rem;
  width: 20rem;
  background-color: green;
  border-radius: 15px;
  padding: 15px;
  padding-bottom: 0px;
  border: 2px solid silver;
  margin: auto;
  display: table;
  overflow: hidden;
  font-size: 1.5rem;
}

.login-button:hover {
  background-color: darkgreen;
}

.login-cell {
  display: table-cell;
  vertical-align: middle;
}

a.login {
  display: block;
  margin: auto;
  text-align: center;
  width: 20rem;
  color: white;
  text-decoration: none;
}