html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

p.quote {
  font-size: 1.25rem;
  font-style: italic;
}

.login-button {
  height: 2.5rem;
  width: 20rem;
  background-color: green;
  border-radius: 15px;
  padding: 15px;
  padding-bottom: 0px;
  border: 2px solid silver;
  margin: auto;
  display: table;
  overflow: hidden;
  font-size: 1.5rem;
}

.login-button:hover {
  background-color: darkgreen;
}

.login-button-cell {
  display: table-cell;
  vertical-align: middle;
}

a.login {
  display: block;
  margin: auto;
  text-align: center;
  width: 20rem;
  color: white;
  text-decoration: none;
  padding-bottom: 15px;
}

.form-control {
  border-radius: 15px;
  width: 40%;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.form-control-reads {
  border-radius: 15px;
  width: 80%;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.login-submit {
  height: 2.375rem;
  width: 40%;
  background-color: green;
  border-radius: 15px;
  border: 2px solid silver;
  margin: auto;
  font-size: 1.5rem;
  color: white;
}

.login-submit:hover {
  background-color: darkgreen;
}

.logout {
  background-color: green;
  border-radius: 10px;
  color: white;
}

.logout:hover {
  background-color: darkgreen;
}

.explorer {
  min-height: 480px;
  max-height: 480px;
  border: 1px solid #aaaaaa;
  overflow:auto;
  background-image: linear-gradient(#fff, #fff 50%, #ddd 50%);
  background-size: 10px 60px;
}

.explorer-head {
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px;
  border: 1px solid #aaaaaa;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
  color: #2e2e2e;
}

.explorer-body {
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px;
  overflow: hidden;
  color: #2e2e2e;
}

.icon {
  height: 20px;
}

.explorer-body-row {
  height: 30px;
}

.explorer-header {
  height : 40px;
  background-color: #aaaaaa;
  color: #ffffff;
}

.explorer-foot {
  height: 80px;
  min-width: 100%;
  background-color: #cccccc;
  border: 1px solid #aaaaaa;
  border-radius: 0px 0px 10px 10px;
  text-align: right;
}

.explorer-footer-button {
  height: 40px;
  min-width: 120px;
  background-color: #aaaaaa;
  color: #2e2e2e;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: 10px;
  font-weight: bold;
  line-height: 40px;
  display: inline-block;
}

.add-reads {
  height: 82px;
  width: 100%;
  color: #aaaaaa;
  border: 2px dashed #aaaaaa;
  border-radius: 10px;
  text-align: center;
  line-height: 58px;
  margin-bottom: 40px;
}

.add-reads:hover {
  color: green;
  border: 2px dashed green;
}

.del-reads {
  height: 82px;
  width: 100%;
  color: #aaaaaa;
  border: 2px dashed #aaaaaa;
  border-radius: 10px;
  text-align: center;
  line-height: 58px;
  margin-bottom: 40px;
}

.del-reads:hover {
  color: red;
  border: 2px dashed red;
}