@page
@model PrivacyModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<hr/>

<p>
Biotools is a service that provides web wrappers for many tools used in bioinformatics, such as Trintity, Salmon, DeSeq2, and others.
These tools are often used in Transcriptome/Genome reassembly and downstream analysis of the reassembly.
Biotools aims to remove the need for understanding the command line, Python and R, in order to give a wider audience of biologists access to these tools.
</p>
