@page
@model IndexModel
@{      
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Hello World from Biotools</h1>
    <img alt="Logo" src="@Url.Content("~/Pages/Shared/imgs/biotoolsLogo.svg")"/>
    <p>A test application by Reis Gadsden</p>
    <p>Deployed from <a href="https://github.com/reismgadsden/biotools">Github</a> using <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core</a>.</p>
    <hr />
    <div>Host operating system: @Model.OSVersion</div>
</div>
