@page
@model LoginModel
@{
    ViewData["Title"] = "Login to Biotools";
}
<script type="text/javascript">
                $(function () {
                    $("#aModal").modal('show');
                })
</script>

<div class="text-center">
    <img src="~/imgs/biotoolsSansText.svg" alt="Biotools" height="25%" width="25%">
    <h1 style="padding-bottom: 50px">Login to Biotools</h1>

    @if (Model.userFail) {
        <p style="color: red;">Username was not correctly formatted or was incorrect.</p>
    }

    @if (Model.passFail) {
        <p style="color: red;">Password was not correctly formatted or was incorrect.</p>
    }

    <form method="post">
        @Html.TextBoxFor(model => model.username, new {@class = "form-control", placeholder = "Username", size = 50})
        @Html.PasswordFor(model => model.password, new {@class = "form-control", placeholder = "Password", size = 50})
        <input type="submit" class="login-submit" value="Login">
    </form>
</div>
